{% extends "setting_base.html" %}
{% block setting_content%}
<div class="alert"></div>
<div class="container" style="padding-left: 80px;margin-top: 80px;">
<div class="col-xs-8">
  <form id="accountmanageForm">
    <ul style="list-style-type: none;margin: 0px;padding: 0px;">
      <li class="setting-basic" style="margin-top: 20px;">
        <div>
          <p style="color: red;">修改密码</p>
        </div>
      </li>
      <li  style="margin-top: 20px;">
        <div>
         <span class="setting-basic-text">原始密码</span>
          <input type="password" name="password" class="setting-basic-input" style="width: 200px;" placeholder="请输入原始密码" required="">
        </div>
      </li>
      <li style="margin-top: 20px;">
        <div>
         <span class="setting-basic-text">新密码</span>
         <input type="password" name="new" class="setting-basic-input" style="width: 200px;" placeholder="请输入新密码" required="">
        </div>
      </li>
      <li style="margin-top: 20px;">
        <div>
         <span class="setting-basic-text">确认密码</span>
         <input type="password" name="confirm" class="setting-basic-input" style="width: 200px;" placeholder="请重新输入新密码" required="">
        </div>
      </li>
    </ul>
    <div style="margin-top: 30px;">
      <button id="account_manage_submit" class="btn btn-success" type="button" onfocus="blur()">保存</button>
    </div>
  </form>
</div>
</div>
{% end %}
