<!DOCTYPE html>
<html>
  <head>
    <title>Tornado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet"></style>
    <link href="{{static_url("css/demo.css")}}" rel="stylesheet"></style>
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">
  

  </head>
  <body>
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">首页</a>
        </div>
        <header>
        {% block header %} {% end %}
        </header>       
      </div>
    </nav>

    <content>
      {% block content %} {% end %}
    </content>

    <script src="{{static_url("js/jquery.min.js")}}"></script>
    <script src="https://cdn.bootcss.com/bootstrap-markdown/2.10.0/js/bootstrap-markdown.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-markdown/2.10.0/js/bootstrap-markdown.min.js"></script>
    <script src="https://cdn.bootcss.com/to-markdown/3.0.4/to-markdown.js"></script>
    <script src="https://cdn.bootcss.com/markdown.js/0.5.0/markdown.min.js"></script>
    <script src="https://cdn.bootcss.com/knockout.mapping/2.4.1/knockout.mapping.js"></script>
    <script src="{{static_url("js/knockout-min.js")}}"></script>
    <script src="{{static_url("js/script.js")}}"></script>
    <script src="{{static_url("js/bootstrap.min.js")}}"></script>
  </body>
</html>