<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>SuiBi</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet"></style>
    <link href="{{static_url("css/bootstrap-markdown.min.css")}}" rel="stylesheet"></style>
    <link href="{{static_url("css/style.css")}}" rel="stylesheet"></style>
    <!--<link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">-->
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap-markdown/2.10.0/css/bootstrap-markdown.min.css">-->
    <!--<link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/themes/color.css">
    <link rel="stylesheet" type="text/css" href="http://www.jeasyui.com/easyui/demo/demo.css">-->
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="width-limit">
        <a class="logo" href="/" onfocus="blur()">
          <img src="{{static_url("img/logo.png")}}" style="width: 100%;height: 40px;margin-top: -15px;">
        </a>
        {% if login_user is None %}
          <a class="sign_up" href="/sign_up" style="color: red;" onfocus="blur()">注册</a>
          <a class="login" href="/login" style="color: white;" onfocus="blur()">登录</a>
        {% end %}
        <!--如果用户已登录，显示下拉列表菜单-->
        {% if login_user is not None %}
        <div class="user">
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" style="cursor: pointer;">
              <!--显示登录用户的头像-->
              {% if login_user_pic is not None %}
              <img src="{{static_url("upload/img/" + login_user_pic)}}"  class="img-circle" style="width: 45px;height: 45px;margin-top: -8px;">
              {% else %}
              <img src="{{static_url("img/user.jpg")}}"  class="img-circle" style="width: 45px;height: 45px;margin-top: -8px;">
              {% end %}
              <b class="caret" style="margin-top: -9px;"></b>
            </a>
            <ul class="dropdown-menu">
              <li >
                <a href="/users/{{login_user_id}}"><span class="glyphicon glyphicon-user" style="height: 30px;">  我的主页</span></a>
              </li>
              <li >
               <a href="/setting/basic"><span class="glyphicon glyphicon-wrench" style="height: 30px;">  设置</span></a>
              </li>
              <li>
                <a href=""><span class="glyphicon glyphicon-phone" style="height: 30px;">  联系我们</span></a>
              </li>
              <li>
                <a href="/logout"><span class="glyphicon glyphicon-off" style="height: 30px;">  退出 {{login_user}}</span></a>
              </li>
            </ul>
          </div>
        </div>
        {% end %}

        {% if login_user is None %}
          <div  style="margin-right: 20px;margin-top: 15px; font-size: 16px;float: right;">
             <a href="/login" class="glyphicon glyphicon-edit" style="text-decoration: none;color: red;" onfocus="blur()">写文章</a>
          </div>
        {% else %}
          <div  style="margin-right: 20px;margin-top: 16px; font-size: 16px;float: right;">
             <a href="/blog/new/info" class="glyphicon glyphicon-edit" style="text-decoration: none;color: red;" onfocus="blur()">写文章</a>
          </div>
        {% end %}

        <div class="container">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav" style="margin-left: 200px;">
              <li>
                <a href="/" style="font-size: 20px;color: white;" onfocus="blur()">
                  <span>首页</span>
                </a>
              </li>
              <li>
                <a href="/" style="font-size: 20px;color: white;" onfocus="blur()">
                  <span>关注</span>
                </a>
              </li>
              <li class="search">
                <!--搜索表单-->
                <form target="_blank" action="/search" accept-charset="UTF-8" method="get">  
                  <input type="text" id="q" class="search-input" name="q" placeholder="搜索" value=""> 
                </form>
              </li>
            </ul>
          </div>
          <header>
            {% block header %} {% end %}
          </header>       
        </div>
      </div>
    </nav>
    <content>
      {% block content %} {% end %}
    </content>
    <!--
    <div style="background-color: #ededed;height: 200px;width: 100%;left: 0px;bottom: 0px;flex: 1;">
    </div>
    -->
    <!--返回到顶部-->
    <div class="side-tool">
      <ul>
        <li data-placement="left" data-toggle="tooltip" data-container="body" data-original-title="回到顶部">
          <div id="scrolltop" class="function-button">
            <span class="glyphicon glyphicon-chevron-up" style="padding-top: 16px;"></span>
          </div>
        </li>
        <li  data-placement="left" data-toggle="tooltip" data-container="body" data-original-title="返回首页">
          <a href="/" style="color: black;" onfocus="blur()">
          <div class="function-button">
            <span class="glyphicon glyphicon-home" style="padding-top: 16px;"></span>
          </div>
          </a>
        </li>
        <li  data-placement="left" data-toggle="tooltip" data-container="body" data-original-title="刷新">
          <a href="" style="color: black;" onfocus="blur()">
          <div class="function-button">
            <span class="glyphicon glyphicon-refresh" style="padding-top: 16px;"></span>
          </div>
          </a>
        </li>
      </ul>
    </div>
    <script src="{{static_url("js/jquery.min.js")}}"></script>
    <script src="{{static_url("js/bootstrap.min.js")}}"></script>
    <script src="{{static_url("js/bootstrap-markdown.js")}}"></script>
    <script src="{{static_url("js/bootstrap-markdown.min.js")}}"></script>
    <script src="{{static_url("js/markdown.min.js")}}"></script>
    <script src="{{static_url("js/script.js")}}"></script>
  </body>
</html>