{% extends "base.html" %}
{% block content %}
<div class="container">
  <div style="margin-left: 250px;margin-top: 80px;width: 700px;">
    <h4 id="blog_content_id" style="display: none;">{{b_infos[0]['aid']}}</h4>
    <p class="blog_title">{{b_infos[0]['title']}}</p>
    <div class="author">
      <div class="blog-avatar">
        {% if b_infos[0]['pic'] is None %}
         <a href="/users/{{b_infos[0]['uid']}}"><img src="{{static_url("img/user.jpg")}}" class="img-circle" style="width: 60px;height: 60px;"></a>
        {% else %}
        <a href="/users/{{b_infos[0]['uid']}}"><img src="{{static_url("upload/img/" + b_infos[0]['pic'])}}" class="img-circle" style="width: 60px;height: 60px;"></a>
        {% end %}
      </div>
      <div class="info">
        <span class="tag">作者</span>
        <span class="name">
          <a href="/users/{{b_infos[0]['uid']}}" style="text-decoration: none;color: black;">{{b_infos[0]['username']}}</a>
        </span>
      </div>
      <div class="blog-info">
        <ul class="list-inline">
          <li>
            <div class="blog-meta-block">
              <a  style="color: gray;">{{b_infos[0]['created_at']}}</a>
            </div>
          </li>
          <li>
            <div class="blog-meta-block">
              <a  style="color: gray;">阅读 {{b_infos[0]['read_count']}}</a>
            </div>
          </li>
          <li>
            <div class="blog-meta-block">
              <a  style="color: gray;">评论 {{b_infos[0]['comment_count']}}</a>
            </div>
          </li>
          </ul>
          {% if login_user == b_infos[0]['username']%}
          <a href="/blog/edit/info?id={{b_infos[0]['aid']}}" style="color: gray;" onfocus="blur()">
            <div class="blog-edit">
              <span>编辑文章</span>
            </div>
          </a>
          {% end%}
      </div>
    </div>
    <div style="font-size: 18px;">
     {% raw c_infos_html %}
    </div>
    <hr>
    <!--评论框 -->
    <div>
      {% if login_user is not None %}
        <form role="form"　name="comment-form" action="/blog/{{b_infos[0]['aid']}}/comment" method="POST">
          <input name="article_aid" style="display: none;" value="{{b_infos[0]['aid']}}" />
          {% if login_user_pic is not None %}
            <a>
              <img src="{{static_url("upload/img/" + login_user_pic)}}" class="img-circle" style="width: 30px;height: 30px;">
            </a>
          {% else %}
            <a>
              <img src="{{static_url("img/user.jpg")}}" class="img-circle" style="width: 30px;height: 30px;">
            </a>
          {% end %}
          <div>
            <textarea id="new-comment" name="new-comment" class="textarea" placeholder="写下你的评论"></textarea>
          </div>
          <div id="under-comment" style="float: right;margin-top: 10px;">
            <a class="btn" id="cancel-comment" style="font-size: 16px;text-decoration: none;color: gray;">取消</a>
            <input class="btn btn-success" type="submit" value="发送"/>
          </div>
        </form>
      {% else %}
        <!--登录后评论-->
        <form>
          <a>
            <img src="{{static_url("img/user.jpg")}}" class="img-circle" style="width: 30px;height: 30px;">
          </a>
          <div class="sign-container" style="margin-top: 0px;padding-left: 260px;">
            <a  class="btn btn-login" href="/login">登录</a>
            <span style="font-size: 14px;">后发表评论</span>
          </div>
        </form>
      {% end %}
    </div>
    <!--评论展示-->
    {% if b_infos[0]['comment_count'] != 0 %}
    <div style="margin-top: 120px;">
      <div>
        <span style="font-size: 18px;font-weight: bold;">{{b_infos[0]['comment_count']}}条评论</span>
        <div style="float: right;color: gray;">
          <span>按时间正序</span>
          <span>按时间倒序</span>
        </div>
      </div>
    </div>
    {% end %}
    {% for comment_info in comment_infos %}
      <div class="comment">
        <div class="blog-avatar" style="margin-top: 20px;">
          {% if comment_info['pic'] is None %}
           <a href="/users/{{comment_info['uid']}}"><img src="{{static_url("img/user.jpg")}}" class="img-circle" style="width: 30px;height: 30px;"></a>
          {% else %}
          <a href="/users/{{comment_info['uid']}}"><img src="{{static_url("upload/img/" + comment_info['pic'])}}" class="img-circle" style="width: 30px;height: 30px;"></a>
          {% end %}
        </div>
        <div style="margin-top: 20px;">
          <span>
            <a href="/users/{{comment_info['uid']}}" style="text-decoration: none;color: black;">{{comment_info['username']}}</a>
          </span>
          <p>
            <span style="color: gray;">{{comment_info['comment_floor']}}楼  </span>
            <span style="color: gray;">{{comment_info['comment_time']}}</span>
          </p>
          <div style="font-size: 16px;">
            {{comment_info['comment_content']}}
          </div>
          <div style="margin-top: 10px;color: gray;font-size: 14px;">
            <span class="glyphicon glyphicon-thumbs-up">赞</span>
            <span class="glyphicon glyphicon-comment">回复</span>
          </div>
        </div>
      </div>
    {% end %}
  </div>
</div>
{% end %}
