{% extends "user_base.html" %}
{% block user_content %}
  <ul style="list-style-type: none;margin: 0px;padding: 0px;">
  {% for comment_info in comment_infos %}
    <li class="index">
      <a href="/users/{{comment_info['uid']}}?order_by=commented_at" style="text-decoration: none;">
        {% if comment_info['pic'] is not None%}
        <img src="{{static_url("upload/img/" + comment_info['pic'])}}" class="img-circle" style="width: 25px;height: 25px;">
        {% else %}
        <img src="{{static_url("img/user.jpg")}}" class="img-circle" style="width: 25px;height: 25px;">
        {% end %}
      </a>
      <a href="/users/{{comment_info['uid']}}?order_by=commented_at" style="text-decoration:none;color: black;font-size: 15px; margin-left: 10px;">{{comment_info['username']}}</a>
      <a style="text-decoration:none;color: gray;">{{comment_info['created_at']}}</a>
      <div style="margin-top: 10px;">
        <p><a style="font-size:18px; font-weight:bold;color: black;" href="/blog/{{comment_info['aid']}}"><span>{{comment_info['title']}}</span></a></p>
      </div>
      <span  style="color: gray;margin-left: 10px;"> 
      <i class="iconfont icon-yidu"></i>
      {{comment_info['read_count']}}
      </span>
      <span style="color: gray;margin-left: 10px;">
      <i class="iconfont icon-pinglun"></i>
       {{comment_info['comment_count']}}
       </span>
      <span  style="color: gray;margin-left: 10px;">
        <i class="iconfont icon-xin"></i>
      </span>
    </li>
  {% end %}
</ul>
{% end %}