{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 left-top">
      <a id="blog_id" style="display: none;"><span>{{blog_id}}</span></a>
      <input type="text" id="blog_title" style="font-weight: bold;" class="form-control" value={{blog_title}}>
      </br>
      <textarea id="blog_content" data-provide="markdown" rows="25" >{{blog_content}}</textarea>
      <hr/>
      <div role="button" class="btn btn-info" id="update_blog" style="float: right;">
        <span class="glyphicon glyphicon-save">更新</span>
      </div>
      <div role="button" class="btn btn-info" id="edit_delete_blog" style="float: right;">
        <span class="glyphicon glyphicon-trash">删除</span>
      </div>
    </div>
  </div>
</div>
{% end %}