{% extends "user_base.html" %}
{% block user_content %}
<div class="following-top" id="following-top">
  <ul id="following" style="margin: 0px;padding: 0px;">
    {% for f_info in f_infos %}
    <li class="following-index">
      <h4 id="following-user-id" style="display: none;">{{f_info['uid']}}</h4>
      <!--显示作者头像-->
      <a  href="/users/{{f_info['uid']}}">
        {% if f_info['pic'] is not None %}
        <img src="{{static_url("upload/img/" + f_info['pic'])}}"  class="img-circle" style="width: 50px;height: 50px;">
        {% else %}
        <img src="{{static_url("img/user.jpg")}}"  class="img-circle" style="width: 50px;height: 50px;">
        {% end %}
      </a>
      <!--显示作者-->
      <div class="following-author">
        <a href="/users/{{f_info['uid']}}" style="color: black;">{{f_info['username']}}</a>
      </div>
      <div style="margin-left: 65px;">
        <ul class="list-inline" id="stop">
          <li>
            <div class="following-meta-block">
              <span>关注 {{dic_following[f_info['uid']]}}</span>
            </div>
          </li>
          <li>
            <div class="following-meta-block">
              <span>粉丝 {{dic_follower[f_info['uid']]}}</span>
            </div>
          </li>
          <li>
            <div class="following-meta-block" style="border-right-style: none;">
              <span>文章 {{dic_articles[f_info['uid']]}}</span>
            </div>
          </li>
        </ul>
      </div>
      <!--加关注-->
      <div style="float: right; margin-top: -35px;">
          {% if f_info['uid'] not in common_id %}
              <!--未登录的用户跳转到登录界面-->
              {% if login_user is None%}
                <div>
                  <span href="/login" style="text-decoration: none;" class="add-follow btn">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jia"></use>
                  </svg>
                  关注
                  </span>
                </div>
              {% else %}
                <!--不关注自己-->
                {% if login_user == f_info['username'] %}
                  <div></div>
                {%else%}
                  <div id="following-follower">
                    <span class="add-follow btn" style="color: white;">
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-jia"></use>
                    </svg>
                    关注
                    </span>
                  </div>
                  <div class="followed btn" id="following-followed" style="display: none;">
                    <span style="color: #c8c8d0;">
                    <i class="icon iconfont icon-ok"></i>
                    已关注
                    </span>
                  </div>
                  <!--<div class="followed btn" id="following-cancel-follow" style="display: none;">
                    <a  class="glyphicon glyphicon-remove" style="color: #c8c8d0;">取消关注
                    </a>
                  </div>-->
                {% end %}  
              {% end %}
          {% else %}
              <!--共同的关注用户显示已关注-->
              <div class="followed btn" id="following-followed">
                <span style="color: #c8c8d0;">
                <i class="icon iconfont icon-ok"></i>
                已关注
                </span>
              </div>
              <div id="following-follower" style="display: none;">
                <span class="add-follow btn">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-jia"></use>
                </svg>
                关注
                </span>
              </div>
          {% end %} 
      </div>
    </li>
  {% end %}
  </ul>
</div>
{% end %}