{% extends "base.html" %}
{% block content %}
  <div class="container">
    <div class="col-md-8" style="margin-left: 200px;">
      <div style="margin-bottom: 30px;">
        <img src="{{static_url("img/bg-1.png")}}" style="width: 730px;height: 250px;">
      </div>
      <div style="margin-top: 20px;">
        <ul style="list-style-type: none;margin: 0px;padding: 0px;">
        {% for m_info in m_infos %}
          <li class="index">
            <a href="/users/{{m_info['uid']}}" style="text-decoration: none;" onfocus="blur()">
              {% if m_info['pic'] is None %}
                <img src="{{static_url("img/user.jpg")}}" class="img-circle" style="width: 25px;height: 25px;">
              {% else %}
                <img src="{{static_url("upload/img/" + m_info['pic'])}}" class="img-circle" style="width: 25px;height: 25px;">
              {% end %}
            </a>
            <a href="/users/{{m_info['uid']}}" style="text-decoration:none;color: black;font-size: 15px; margin-left: 10px;" onfocus="blur()">{{m_info['username']}}</a>
            <a style="text-decoration:none;color: gray;">{{m_info['created_at']}}</a>
            <div style="margin-top: 10px;">
              <p><a style="font-size:18px;color: black;" href="/blog/{{m_info['aid']}}" id="blog_title"><span>{{m_info['title']}}</span></a></p>
            </div>
            <span class="glyphicon glyphicon-eye-open" style="color: gray;"> {{m_info['read_count']}}</span>
            <span class="glyphicon glyphicon-comment" style="color: gray;"> {{m_info['comment_count']}}</span>
            <span class="glyphicon glyphicon-heart" style="color: gray;"></span>
          </li>
          {% end %}
        </ul>
      </div>
    </div>
  </div>
{% end %}