{% extends "base.html" %}
{% block header %}
<div class navbar-header">
  <div class="collapse navbar-collapse">
    {% if user is not None %}
    <ul class="nav navbar-nav" style="float: right;">
      <li><a><span class="glyphicon glyphicon-user">{{user}}</span></a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out">退出</span></a></li>
    </ul>
    {% else %}
    <ul class="nav navbar-nav" style="float: right;">
      <li><a href="/login"><span class="glyphicon glyphicon-log-in">　登录</span></a></li>
    </ul>
    {% end %}
  </div>  
</div>
{% end%}
{% block content %}

<div class="bs-docs-container">
<div class="container">
    {% if user is not None %}
    <div class="row" style="margin-top: 10px; margin-bottom: 10px;float: right;">
      <div class="col-lg-6">
        <div class="input-group">
          <span class="input-group-btn">
            <a href="/blog/new/info" role="button" class="btn btn-info" data-toggle="modal"><span class="glyphicon glyphicon-plus">新建</span></a>
          </span>
        </div> 
      </div>
    </div>
    {% end %}
  <table class="table table-hover table-condensed">
    <tbody>
    {% for m_info in m_infos %}
    
    <tr>
      <td style="display: none;">
        <span id="blog_id">{{m_info[0]}}</span>
      </td>
      <td>
        <a href="/blog/{{m_info[0]}}" id="blog_title">{{m_info[3]}}</a>
      </td>
      {%if user is not None %}
      <td width="15%">
        <a href="/blog/edit/info?id={{m_info[0]}}"><span　class="glyphicon glyphicon-edit">[编辑]</span></a>
        <button class="btn btn-link" id="delButton" onclick="del_blog()">
          <span>删除</span>
        </button>
      </td>
      {% end %}
    </tr>
    {% end %}
    </tbody>
  </table>
</div>
<div id="pagination_box" class="pull-right">
  <ul id="pagination_zc" class="pagination_sm"></ul>
</div>
</div>
{% end %}