{% extends "base.html" %}
{% block content %}
 
<div class="bs-docs-container">
  <div class="container">
    <div class="col-md-8" style="margin-left: 200px">
    <img src="{{static_url("img/bg-1.png")}}" style="width: 730px;height: 200px;">
    {% for m_info in m_infos %}
    <hr>
      <a style="text-decoration:none;color: black;font-size: 15px;">{{m_info['user_name']}}</a>
      <a style="text-decoration:none;color: gray;">{{m_info['created_at']}}</a>
      <p><a style="font-size:18px; font-weight:bold;color: black;" href="/blog/{{m_info['id']}}" id="blog_title">{{m_info['title']}}</a></p>
    {% end %}
    <hr>
    </div>
  </div>
</div>
{% end %}