<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <title>Tornado</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="{{static_url("css/bootstrap.min.css")}}" rel="stylesheet"></style>
    <link href="{{static_url("css/style.css")}}" rel="stylesheet"></style>
    <style type="text/css">
      body {background-color: #f1f1f1;}
    </style>
  </head>
  <body>
    <div>
      <header>
        {% block header %} {% end %}
      </header>
      <div style="margin-top: 50px;margin-left: 50px;font-size: 50px;font-style: bold;">
        <a style="color: red;" href="/" onfocus="blur()">随笔</a>
      </div>
      <div class="login-sign">
        <div class="login-sign-title">
          <a href="/login" onfocus="blur()">登录</a>
          <a href="/sign_up" onfocus="blur()">注册</a>
        </div>
        <content>
          {% block content %} {% end %}
        </content>
      </div>
    </div>
    <script src="{{static_url("js/jquery.min.js")}}"></script>
    <script src="{{static_url("js/bootstrap.min.js")}}"></script>
    <script src="{{static_url("js/script.js")}}"></script>
  </body>
</html>