{% extends "base.html" %}
{% block content %}
  <div class="container">
      <div class="aside">
        <ul style="list-style-type: none;">
          <li style="height: 60px;">
            <a href="/setting/basic" style="text-decoration: none;color: black;">
            <div class="setting-icon"></div>
              <span> 基础设置</span>
            </a>
          </li>
          <li style="height: 60px;">
            <a href="/setting/profile" style="text-decoration: none;color: black;">
            <div class="setting-icon"></div>
              <span> 个人资料</span>
            </a>
          </li>
          <li style="height: 60px;">
            <a href="/setting/misc" style="text-decoration: none;color: black;">
            <div class="setting-icon"></div>
              <span> 账号管理</span>
            </a>
          </li>
        </ul>
      </div>
  </div>
  <div class="container">
    <div class="col-md-8 left-top">
      <form role="form"　name="setting-form" action="/setting/basic" method="POST">
      <div>
        <a href="" >
          <img src="{{static_url("img/user.jpg")}}" class="img-circle" style="width: 80px;height: 80px;margin-left: 100px;margin-top: 10px;">
        </a>
          <div class="change-pic">
            <a target="_blank" href="" style="text-decoration: none;color: green;">
              更改头像
            </a>
          </div>
      </div>
      </form>
    </div>
  </div>
{% end %}