{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="aside">
    <ul id="aside-ul" class="aside-ul">
      <a href="/setting/basic" onfocus="this.blur();">
        <li id="aside-list" class="aside-list">
          <svg class="setting-icon" aria-hidden="true">
            <use xlink:href="#icon-set1"></use>
          </svg>
          <span style="text-decoration: none;"> 基础设置</span>
        </li>
      </a>
      <a href="/setting/profile" onfocus="this.blur();">
        <li id="aside-list" class="aside-list">
          <svg class="setting-icon" aria-hidden="true">
            <use xlink:href="#icon-profile1"></use>
          </svg>
          <span> 个人资料</span>
        </li>
      </a>
      <a href="#" onfocus="this.blur();">
        <li id="aside-list" class="aside-list">
          <svg class="setting-icon" aria-hidden="true">
            <use xlink:href="#icon-member-blacklist"></use>
          </svg>
          <span> 黑名单</span>
        </li>
      </a>
      <a href="/setting/account_manage" onfocus="this.blur();">
        <li id="aside-list" class="aside-list">
          <svg class="setting-icon" aria-hidden="true">
            <use xlink:href="#icon-account1"></use>
          </svg>
          <span> 账号管理</span>
        </li>
      </a>
    </ul>
  </div>
  <div class="left-top">
    {% block setting_content%} {% end %}
  </div>
</div>
{% end %}