{% extends "main.html" %}
{% block content %}
<form id="signupForm">
  {% raw xsrf_form_html() %}
  <div class="input-group">
    <span class="input-group-addon">你的昵称 </span>
    <input type="text" class="form-control" name="username" placeholder="请输入昵称" required=""  maxlength="10">
  </div>
  <div class="input-group">
    <span class="input-group-addon">你的邮箱 </span>
    <input type="text" class="form-control" name="email" placeholder="请输入邮箱" required="">
  </div>
  <div class="input-group">
    <span class="input-group-addon">设置密码 </span>
    <input type="password" class="form-control" name="password" placeholder="请输入密码" required="">
  </div>
  <div style="margin-top: 10px;">
    <input id="signup_submit" class="btn btn-lg btn-primary btn-block" type="button" onfocus="blur()" value="注册"/>
  </div>
</form>
{% end %}
