{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row" style="padding-left: 100px;padding-right: 100px; padding-top: 80px;">
    <div class="col-xs-8">
      <div class="users-header">
        <div class="main-top">
          <a href="/users/{{author_id}}" class="avatar" onfocus="blur()">
            <!--显示作者头像-->
            {% if author_pic is not None %}
            <img src="{{static_url("upload/img/" + author_pic)}}"  class="img-circle" style="width: 80px;height: 80px;">
            {% else %}
            <img src="{{static_url("img/user.jpg")}}"  class="img-circle" style="width: 80px;height: 80px;">
            {% end %}
          </a>
        </div>
        <!--显示作者名称-->
        <div class="title">
          <a href="/users/{{author_id}}" style="text-decoration: none; color: black;" onfocus="blur()">{{author_name}}</a>
          {% if gender == '1' %}
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-xingbienan"></use>
            </svg>
          {% elif gender == '0' %}
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#icon-Female"></use>
            </svg>
          {% else %}
            <div style="display: none;"></div>
          {% end %} 
        </div>
        <div class="info">
          <ul class="list-inline">
            <li>
              <div class="meta-block">
                <a href="/users/{{author_id}}/following" style="color: gray;" onfocus="blur()">
                  <p>{{following_count}}</p>关注
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-asmkticon0207"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li>
              <div class="meta-block">
                <a href="/users/{{author_id}}?order_by=created_at" style="color: gray;" onfocus="blur()">
                  <p>{{count_article}}</p>文章
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-asmkticon0207"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li>
              <div class="meta-block">
                <a href="/users/{{author_id}}/followers" style="color: gray;" onfocus="blur()">
                  <p>{{follower_count}}</p>粉丝
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-asmkticon0207"></use>
                  </svg>
                </a>
              </div>
            </li>
            <li>
              <div class="meta-block" style="border-right-style: none;">
                <a style="color: gray;" onfocus="blur()">
                  <p>0</p>收获喜欢
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <!--添加关注和发简讯-->
      <div style="float: right; margin-top: -70px;">
        {% if login_user is None%}
        <div>
          <span href="/login" class="add-follow btn">
          <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-jia"></use>
          </svg>
          关注
          </span>
        </div>
        {% else %}
          {% if login_user != author_name %}
            {% if follower == False %}
              <div id="follower">
                <span class="add-follow btn" style="color: white;">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jia"></use>
                </svg>
                关注
                </span>
              </div>
              <div id="followed" style="display: none;">
                <span class="followed btn" style="color: #c8c8d0;">
                <i class="icon iconfont icon-ok"></i>
                已关注
                </span>
              </div>
            {% else %}  
              <div id="followed">
                <span class="followed btn" style="color: #c8c8d0;">
                <i class="icon iconfont icon-ok"></i>
                已关注
                </span>
              </div>
              <div id="follower" style="display: none;">
                <span  class="add-follow btn">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-jia"></use>
                </svg>
                关注
                </span>
              </div>
            {% end %} 
            <div class="send-message btn">
              <a id="send-message" style="color: #42c02c;">发简信</a>
            </div>
          {% else %}
             <div></div>
          {% end %}
        {% end %}
      </div>
      <div class="users-body">
        <ul id="menu-list" class="trigger-menu list-inline">
          <li>
            <a href="/users/{{author_id}}?order_by=created_at" onfocus="this.blur()">文章</a>
          </li>
          <li>
            <a href="/users/{{author_id}}" onfocus="this.blur()">动态</a>
          </li>
          <li>
            <a href="/users/{{author_id}}?order_by=commented_at" onfocus="this.blur()">最新评论</a>
          </li>
          <li>
            <a href="/users/{{author_id}}?order_by=top" onfocus="this.blur()">热门</a>
          </li>
          <li>
            <a href="/users/{{author_id}}/following" onfocus="this.blur()">关注用户</a>
          </li>
          <li>
            <a href="/users/{{author_id}}/followers" onfocus="this.blur()">粉丝</a>
          </li>
        </ul>
        {% block user_content %} {% end %}
      </div>
    </div>
    <div class="col-xs-4">
     <div style="margin-left: 0px;width: 100%;height: auto;">
      <table class="table" rules="rows">
        <tbody>
          <tr>
            <td>
              <div style="color: gray;margin-bottom: 20px;">
                <span >个人介绍</span>
                <div id="personal-intr-edit" style="float: right;cursor: pointer;">
                  {% if login_user == author_name %}
                    <svg class="icon" aria-hidden="true">
                      <use xlink:href="#icon-5"></use>
                    </svg>
                    <span>编辑</span>
                  {% else %}
                    <span></span>
                  {% end %}
                </div>
              </div>
              <div id="personal_profile" style="font-size: 14px;">
                {% if personal_profile %}
                <span>{%raw personal_profile %}</span>
                {% else %}
                <span></span>
                {% end %}
              </div>
              <div id="personal-intr" style="display: none;">
                <textarea class="personal-textarea">{{ personal_profile }}</textarea>
              </div>
              <div id="personal-intr-control" style="margin-top: 10px;margin-bottom: 20px;display: none;">
                <div class="personal-message">
                  <span>保存</span>
                </div>
                <div id="personal-intr-cancle" style="height: 30px;line-height: 30px;color: gray;cursor: pointer;">
                  <span style="margin-left: 10px;">取消</span>
                </div>
              </div>
              <div>
                {% if webchat_code %}
                <div style="margin-top: 10px;cursor: pointer;width: 40px;" id="webchat-pic" data-placement="bottom" data-toggle="popover" data-html="true" data-content="
                  <div>
                    <img src='{{static_url('upload/webchat/' + webchat_code)}}' style='width: 150px;height: 180px;'/>
                  </div>
                  " data-original-title="" title="">
                  <i class="weixin-icon iconfont icon-weixin1"></i>
                </div>
                {% else %}
                <div style="display: none;"></div>
                {% end %}
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <a href="#" onfocus="blur()" style="color: gray;">
                <div style="margin-top:20px; margin-bottom: 20px;">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-zhuanti"></use>
                  </svg>
                  <span>我关注的专题/文集</span>
                </div>
              </a>
              <a href="#" onfocus="blur()" style="color: gray;">
                <div style="margin-top: 20px; margin-bottom: 20px;">
                  <svg class="icon" aria-hidden="true">
                    <use xlink:href="#icon-xihuan"></use>
                  </svg>
                  <span>我喜欢的文章</span>
                </div>
              </a>
            </td>
          </tr>
          <tr>
            <td>
              <div style="color: gray;margin-top: 20px; margin-bottom: 20px;">
                <span>他的文集</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="color: gray;margin-top: 20px; margin-bottom: 20px;">
              {% if login_user == author_name %}
                <a></a>
              {% else %}
                <a href="#" style="color: gray;" onfocus="blur()">加入黑名单</a>
              {% end %}
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% end %}