{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row" style="padding-left: 100px;padding-right: 100px; padding-top: 80px;">
    <div class="col-xs-8">
      <div class="users-header">
        <div class="main-top">
          <a href="/users/{{author_id}}" class="avatar" onfocus="blur()">
            <!--显示作者头像-->
            {% if author_pic is not None %}
            <img src="{{static_url("upload/img/" + author_pic)}}"  class="img-circle" style="width: 80px;height: 80px;">
            {% else %}
            <img src="{{static_url("img/user.jpg")}}"  class="img-circle" style="width: 80px;height: 80px;">
            {% end %}
          </a>
        </div>
        <!--显示作者名称-->
        <div class="title">
          <a href="/users/{{author_id}}" style="color: black;" onfocus="blur()">{{author_name}}</a>
        </div>
        <div class="info">
          <ul class="list-inline">
            <li>
              <div class="meta-block">
                <a href="/users/{{author_id}}/following" style="color: gray;" onfocus="blur()"><p>{{following_count}}</p>关注</a>
              </div>
            </li>
            <li>
              <div class="meta-block">
                <a href="/users/{{author_id}}?order_by=created_at" style="color: gray;" onfocus="blur()"><p>{{count_article}}</p>文章</a>
              </div>
            </li>
            <li>
              <div class="meta-block" style="border-right-style: none;">
                <a href="/users/{{author_id}}/followers" style="color: gray;" onfocus="blur()"><p>{{follower_count}}</p>粉丝</a>
              </div>
          </ul>
          <!--添加关注和发简讯-->
          {% if login_user != author_name %}
            <div style="float: right; margin-top: -70px;">
              <div>
                {% if follower == False %}
                    {% if login_user is None%}
                    <div>
                      <a href="/login" class="add-follow btn glyphicon glyphicon-plus">关注
                      </a>
                    </div>
                    {% else %}
                    <div id="follower">
                      <a  class="add-follow btn glyphicon glyphicon-plus">关注
                      </a>
                    </div>
                    <div class="followed btn" id="followed" style="display: none;">
                      <a class="glyphicon glyphicon-ok" style="color: #c8c8d0;">已关注
                      </a>
                    </div>
                    {% end %}
                {% else %}
                    <div class="followed btn" id="followed">
                      <a class="glyphicon glyphicon-ok" style="color: #c8c8d0;">已关注
                      </a>
                    </div>
                    <div id="follower" style="display: none;">
                      <a  class="add-follow btn glyphicon glyphicon-plus">关注
                      </a>
                    </div>
                    <!--
                    <div class="followed btn" id="cancel-follow" style="display: none;">
                      <a  class="glyphicon glyphicon-remove" style="text-decoration: none;color: #c8c8d0;">取消关注
                      </a>
                    </div>
                    -->
                {% end %}
              </div>
              <div class="send-message btn">
                <a id="send-message" style="color: #42c02c;">发简信</a>
              </div>
            </div>
          {% end %}
        </div>
      </div>
      <div class="users-body">
        <ul id="menu-list" class="trigger-menu list-inline">
          <li>
            <a href="/users/{{author_id}}?order_by=created_at" onfocus="this.blur()">文章</a>
          </li>
          <li>
            <a href="/users/{{author_id}}" onfocus="this.blur()">动态</a>
          </li>
          <li>
            <a href="/users/{{author_id}}?order_by=commented_at" onfocus="this.blur()">最新评论</a>
          </li>
          <li>
            <a href="/users/{{author_id}}?order_by=top" onfocus="this.blur()">热门</a>
          </li>
          <li>
            <a href="/users/{{author_id}}/following" onfocus="this.blur()">关注用户</a>
          </li>
          <li>
            <a href="/users/{{author_id}}/followers" onfocus="this.blur()">粉丝</a>
          </li>
        </ul>
        {% block user_content %} {% end %}
      </div>
    </div>
    <div class="col-xs-4">
     <div style="margin-left: 0px;width: 100%;height: auto;">
      <table class="table" rules="rows">
        <tbody>
          <tr>
            <td>
              <div style="color: gray;margin-bottom: 20px;">
                <span >个人介绍</span>
                <span id="personal-intr-edit" class="glyphicon glyphicon-edit" style="float: right;cursor: pointer;">编辑</span>
              </div>
              <div id="personal-intr" style="display: none;">
                <textarea class="personal-textarea"></textarea>
              </div>
              <div id="personal-intr-control" style="margin-top: 10px;margin-bottom: 20px;display: none;">
                <div class="personal-message">
                  <span>保存</span>
                </div>
                <div id="personal-intr-cancle" style="height: 30px;line-height: 30px;color: gray;cursor: pointer;">
                  <span style="margin-left: 10px;">取消</span>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="margin-top:20px; margin-bottom: 20px;">
                <a href="#" onfocus="blur()" style="color: gray;">我关注的专题/文集</a>
              </div>
              <div style="margin-top: 20px; margin-bottom: 20px;">
                <a href="#" class="glyphicon glyphicon-heart-empty" onfocus="blur()" style="color: gray;"> 我喜欢的文章</a>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="color: gray;margin-top: 20px; margin-bottom: 20px;">
                <span>他的文集</span>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div style="color: gray;margin-top: 20px; margin-bottom: 20px;">
                <span>加入黑名单</span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>
</div>
{% end %}